<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Challange 4</h1>
        <p><a href="http://localhost:3000/magic8Ball/challenge">http://localhost:3000/magic8Ball/challenge</a></p>
        <p>
        <h3>Files</h3>
        <ul>
            <li>./routes/magic8Ball.js</li>
            <li>./lib/magic8Ball.js</li>
            <li>./tests/magic8Ball.test.js</li>
        </ul>
        </p>
        <p>The <a href="http://localhost:3000/magic8Ball">http://localhost:3000/magic8Ball</a> endpoint returns <br /><br />
            “My Magic 8 Ball is Broken. :( -- Sadness...” <br /></p>
<p>To fix this code refactor the magic8Ball function to return one of 8 random messages.</p>
            <p>Remember to add unit tests</p>
        <br />
        <hr />

        
        <script src="" async defer></script>
    </body>
</html>