<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Challange 5</h1>
        <p><a href="http://localhost:3000/primeFactor">http://localhost:3000/primeFactor</a></p>
        <p>
        <h3>Files</h3>
        <ul>
            <li>./routes/primeFactor.js</li>
            <li>./lib/primeFactor.js</li>
            <li>./tests/primeFactor.test.js</li>
        </ul>
        </p>
        <p>If you completed this challenge in C# you would have worked with a class. In JavaScript classes are uncommon so they have not been used in this solution.</p>
        <p>This challenge is currently working as coded in the C# project and when I converted it here it is also working. I would consider this challenge currently broken</p>
        <p>We will update it if/when it is fixed.</p>
        <br />
        <hr />

        
        <script src="" async defer></script>
    </body>
</html>